* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #E4E4EB; */
    /* color: #1C1C28; */
    height: 100%;
}
p {
    /* color: #555770; */
    line-height: 1.75rem;
    letter-spacing: .3px;
}

/* header section styles
  =================================================================*/
header {
    background-color: inherit;
    height: auto;
}
#offcanvasNavbar {
    /* background-color: #EBEBF0; */
    width: 300px;
}
.navbar-brand, .navbar-brand:hover {
    color: #3568D4;
}
/* #offcanvas-close {
    color: #3568D4;
} */
#navbar-toggler-icon {
    font-size: 28px;
    color: #3568D4;
}
.nav-item {
    counter-increment: item 1;
    /* color: #1C1C28; */
    text-align: center;
}
.nav-item::before {
    content: "0" counter(item) ".";
    color: #3568D4;
}
/* .nav-link {
    color: #1C1C28;
} */
/* .divider {
    color: #28293D;
} */

/* main section styles 
  =================================================================*/
#intro {
    height: calc(100vh - 10vh);
    animation: 1s ease intro-zoom-in;
}
@keyframes intro-zoom-in {
    0% {
        transform: scale(0.95, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}
.intro-contact {
    font-size: 1rem;
    font-weight: 400;
}
main {
    counter-reset: numheading;
}
.section-title::before {
    counter-increment: numheading;
    content: "0" counter(numheading) "." ;
    color: #3568D4;
    margin-right: 8px;
}
.section-title {
    letter-spacing: 1.5px;
}
.tools-item {
    /* background-color: #EBEBF0; */
    background-color: var(--bs-gray-100);
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 4px;
}
.tools-icon {
    height: 24px;
    width: 24px;
}

.tools-item span {
    /* color: #555770; */
    vertical-align: middle;
}
.card {
    /* background-color: #EBEBF0; */
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: var(--bs-gray-100);
}
.card-img-top {
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    #intro {
        height: calc(100vh - 18vh);
    }
    .intro-tagline {
        width: 70%;
    } 
    .intro-contact {
        font-size: 1.25rem;
    }  
    .section-title::before {
        content: none;
    }
    .section-title {
        color: #3568D4;
        text-transform: uppercase;
        width: 230px;
    }
    .tools-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    .project-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }
}

/* footer section styles
  =================================================================*/
.footer-links {
    display: flex;
    justify-content: space-evenly;
}
.footer-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-icon {
    font-size: 1.5rem;
    color: #3568D4;
}
.footer-social {
    display: none;
}
@media screen and (min-width: 768px) {
   footer {
    display: flex;
    justify-content: space-between;
   }
   .footer-links {
    display: flex;
    width: 45%;
    justify-content: space-between;
   }
   .footer-icon {
    display: none;
   }
   .footer-social {
    display: inline-block;
    margin-left: .5rem;
    text-transform: uppercase;
    letter-spacing: .3px;
   }
}